:root {
  --color-text-dark: #efefef;
  --background-color-dark: #1d1d1d;
  --background-color-hover-link: #262626;

  --color-text-light: #1d1d1d;
  --background-color-light: #efefef17;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-text-dark: #efefef;
    --background-color-dark: #1d1d1d;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  padding: 0 60px;
  overflow-x: hidden;
}

body.dark--theme {
  background-color: var(--background-color-dark);
  color: var(--color-text-dark);
}

body.light-theme {
  background-color: var(--background-color-light);
  color: var(--color-text-light);
}
